conda install -y cmake gcc hdf5 boost pkg-config libblitz bob.extension bob.blitz bob.core bob.math bob.io.base libmatio bob.io.matlab scipy sox bob.io.audio bob.sp jpeg libtiff giflib libpng netpbm bob.io.image ffmpeg bob.io.video bob.ip.color bob.ip.draw bob.ip.gabor bob.learn.activation libsvm bob.learn.linear bob.learn.mlp bob.learn.boosting bob.ip.optflow.hornschunck bob.ip.optflow.liu
